[submodule "backend"]
	path = backend
	url = https://github.com/placeholderOrganisation/gameStore-backend.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/placeholderOrganisation/gameStore-frontend.git
[submodule "back-end"]
	branch = master
[submodule "front-end"]
	branch = master
